Repository dare-george-epm/spark_project_epm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: terraform_apply, build_docker, deploy_spark_job, terraform_destroy

terraform_apply:
  stage: terraform
  image: hashicorp/terraform:1.5.0
  script:
  - terraform init
  - terraform plan
  - terraform apply -auto-approve
  when: manual

build_docker:
  stage: build
  image: docker:20.10
  services:
  - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
  script:
  - docker info
  - docker build -t my-docker-image:latest .
  when: manual

deploy_spark_job:
  stage: deploy
  image: bitnami/kubectl:latest
  script:
  ...

terraform_destroy:
  stage: destroy
  image: hashicorp/terraform:1.5.0
  script:
  - terraform destroy -auto-approve
  when: manual

added pipeline yaml file
  .dockerignore
  .gitlab-ci.yml
Due: none

Modified Dockerfile
  .dockerignore
  .gitignore
  Dockerfile
  screenshots/final_project_result.png
  screenshots/job_running.png
  screenshots/test_result_all.png
  src/main/my_config.py
  src/test/ToDo
  src/test/test_functions.py
  src/test/test_script.sh
Due: deploy_spark_job

Modified Dockerfile & Config
  Dockerfile
  src/main/my_config.py
Due: deploy_spark_job

Modified terraform script and pipeline file
  .gitlab-ci.yml
  terraform/main.tf
Due: terraform_apply, terraform_destroy

Modified terraform script
  .gitlab-ci.yml
Due: none

Modified pipeline script
  .gitlab-ci.yml
Due: none

Modified pipeline script
  .gitlab-ci.yml
  terraform/main.tf
Due: terraform_apply, terraform_destroy

Added terraform backend values
  .gitlab-ci.yml
  terraform/deployment.yaml
  terraform/main.tf
Due: terraform_apply, terraform_destroy

SparkBasic01
  .dockerignore
  .gitlab-ci.yml
Due: none

Spark basic job
  src/test/test_functions.py
  src/test/test_script.sh
Due: none

Modified Kubernetes Script
  .gitlab-ci.yml
Due: none

Spark basic job
  .dockerignore
  .gitignore
  .gitlab-ci.yml
  deployment.yaml
  src/main/my_config.py
Due: deploy_spark_job

Add __pycache__ to .gitignore
  .gitignore
Due: none

Modified Kubernetes Script
  .gitignore
Due: none

Modified Kubernetes Script
  .dockerignore
Due: none

Cache file modification
  src/main/__pycache__/myfunctions.cpython-310.pyc
Due: none

cache file modification
  src/main/__pycache__/myfunctions.cpython-311.pyc
Due: none

cache file modification
  src/main/__pycache__/test.cpython-311-pytest-8.3.2.pyc
Due: none

Update .gitignore
  .gitignore
Due: none

Initial commit
  .gitignore
Due: none

first commit
  src/main/main.py
Due: deploy_spark_job

Modified main file
  src/main/main.py
Due: deploy_spark_job

Added azure-kubernetes-service.yml
  .github/workflows/azure-kubernetes-service.yml
Due: none

Modifies project structure
  .dockerignore
  .github/workflows/deployment.yaml
  .gitignore
  deploymentxxxpy
Due: none

Update azure-kubernetes-service.yml
  .github/workflows/azure-kubernetes-service.yml
Due: none

Modifies project structure
  deployment.yaml
Due: none

Path conditions:
  terraform_apply: any of: terraform/**
  build_docker: any of: docker/**, src/**
  deploy_spark_job: any of: src/main/**, kubernetes/**
  terraform_destroy: any of: terraform/**
